
.icon-users:before { content: '\e800'; } /* '' */
.icon-user-add-outline:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-users-outline:before { content: '\e803'; } /* '' */
.icon-params:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\e805'; } /* '' */
.icon-progress-4:before { content: '\e806'; } /* '' */
.icon-hourglass:before { content: '\e807'; } /* '' */
.icon-chart-pie-outline:before { content: '\e808'; } /* '' */
.icon-chart:before { content: '\e809'; } /* '' */
.icon-chart-outline:before { content: '\e80a'; } /* '' */
.icon-cog-outline:before { content: '\e80b'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
